body {
    height: 100vh;
    margin: 0;
    /* padding: 0 40px; */
    box-sizing: border-box;
    background: #f8d5d5;
}

.main section.block:first-child {
    border-bottom: 2px solid #72a8a9;
}

.header {
    padding: 20px;
    background: #92c292;

}

.nav {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.menu__item {
    display: inline-block;
    width: calc(20% - 4px);
    text-align: center;
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #3e898b;
    font-size: 22px;
    font-weight: 700;
}

.menu__link:hover {
    color: #ffffff;
}

/* .menu__link:visited {
    color: #771c1c;
} */
.main {
    width: 100%;
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0px 1px 9px 5px #578593;

}